body {
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  color: #2d3136;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 2px;
  color: #2d3136;
}